:root {
  --WHITE: #ffffff;
  --IRIS: #4d5ae5;
  --NAVYBLUE: #2e2f42;
  --OCEAN: #404bbf;
  --SLATE: #434455;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: var(--WHITE);
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--IRIS);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.link:hover {
  color: #404bbf;
}
.link:focus {
  color: #404bbf;
}
.header-logo-studio {
  color: var(--NAVYBLUE);
}

.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--NAVYBLUE);
}

.header-address {
  font-style: normal;
}
.header-address-list {
  list-style: none;
}
.header-address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--SLATE);
}
.hero {
  background-color: var(--NAVYBLUE);
}
.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.hero-btn {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}
.hero-btn:hover {
  color: #404bbf;
}
.hero-btn:focus {
  color: #404bbf;
}
